.ImageBox {
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border: 1px solid darkgrey;
  margin: auto;
  position:relative;
}

.Preview {
  width: 145px;
  height: 145px;
  position:absolute;
  margin:auto;
  top:0; 
  bottom:0; 
  left:0; 
  right:0;
}
