.AssetList {
  border: 1px solid darkgrey;
  overflow-y: scroll;
  height: 250px;
  width: 200px;
  background-color: #ffffff;
}

.AssetListContent:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.MapListImage {
  width: 12px;
  height: 12px;
  border: 1px solid darkgrey;
}
