.Map {
  background-color: white;
  padding: 4px;
  border: 1px solid black;
}

.Block {
  border-collapse: collapse;
  background-size: cover;
  border-style: solid;
  border-color: black;
  padding: 0px;
}

.Block:hover {
  opacity: 0.5;
}
