.MenuList {
  background-color: #ffffff;
  border: 1px solid;
  border-color: darkgrey;
  height: 110px;
  overflow-y: auto;
}

.MapSetContent:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.MapListImage {
  width: 12px;
  height: 12px;
  border: 1px solid darkgrey;
}
