.MenuList {
  background-color: #ffffff;
  border: 1px solid;
  border-color: darkgrey;
  height: 105px;
  overflow-y: auto;
}

.ModeList {
  background-color: #ffffff;
  border: 1px solid;
  border-color: darkgrey;
  text-align: center;
}

.MapSetContent:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.MapListImage {
  width: 12px;
  height: 12px;
  border: 1px solid darkgrey;
}

.Input {
  width: 50px;
}

.UpdownButton {
  width: 50%;
}

.Mode:hover {
  cursor: pointer;
}

.MenuButton {
  width: 70px;
}
