.MenuList {
  background-color: #ffffff;
  border: 1px solid;
  border-color: darkgrey;
  height: 110px;
  overflow-y: auto;
}

.MapListImage {
  width: 12px;
  height: 12px;
  border: 1px solid darkgrey;
}
